/* 
footer {
  padding: 0 $global-p-m;
  background-color: whitesmoke;
  position: relative;
  & img {
    display: inline-block;
    width: 5%;
  }
  & h3,
  h4 {
    text-align: left;
  }
  & h3 {
    font: normal normal 400 50px/48px map-get($fonts, ff-h1);
  }
  & h5 {
    width: 50%;
  }
  & .footer-span {
    position: absolute;
    &::after {
      content: "";
      position: absolute;
      display: block;
      width: 75px;
      // height: 100%;
      left: 40%;
      // left: 615px;
      // bottom: -20px;
      // height: 710px;
      background-color: map-get($colors, c-secondary-1);
    }
  }
}
@media screen and (min-width: 1920px) {
  footer {
    display: flex;
    gap: 40px;
    & .footer-span::after {
      left: 1100px;
      width: 75px;
      height: 450px;
    }
  }
}
*/