.anniversary {
  display: grid;
  text-align: center;
  padding: 0 8rem;

  @media screen and (min-width: 1280px) {
    overflow: hidden;
    padding-right: 0;
  }
  @media screen and (min-width: 1920px) {
    overflow: hidden;
    padding-right: 0;
  }

  &__title {
    @extend .fs--title;
    font-family: "Yellowtail";
    margin-bottom: 0;
    // width: fit-content;
  }

  &__subtitle {
    @extend .fs--text;
  }

  &__container {
    margin-top: 1.5rem;
    @media screen and (min-width: 1280px) {
      display: flex;
    }
  }

  &__info {
    @media screen and (min-width: 1280px) {
      padding-left: 1rem;
    }
  }
  
  &__info-container {
    @extend .fs--p;
    font-family: "Nunito";
    text-align: left;
    @media screen and (min-width: 1280px) {
      width: 90%;
    }
  }

  &__info-p {
    margin-top: 0;
  }

  &__underlined2 {
    text-decoration: underline;
    font-weight: 600;
  }

  & .center {
    text-align: left;
    width: fit-content;
    margin: 3rem 0;
    @media screen and (min-width: 1920px) {
      display: block;
    }
  }

  &__button {
    color: map-get($colors, secondary-f);
    background-color: map-get($colors, c-secondary-1);
    padding: 1rem 2rem;
    border-radius: 10px;
    box-shadow: 0px 8px 16px #00000029;
  }

  &__img-container {
    display: none;
    @media screen and (min-width: 1280px) {
      display: block;
      width: 50%;
    }
    // @media screen and (min-width: 1920px) {
    //   width: 90%;
    // }
  }

}
