.chronology {
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 3rem;

  &__title {
    @extend .fs--title;
    font-family: "Yellowtail";
    text-align: center;
    margin-bottom: 4rem;
  }

  &__items {
    border-left: 2px solid #ada9a7;
    padding: 0;
    transition: all 1s;

    @media screen and (min-width: 1920px) {
      font-size: 0;
      border-left: none;
      padding: 250px 0;
    }
  }

  &__item {
    list-style-type: none;

    // Die Kreise
    &::before {
      display: block;
      content: "";
      position: relative;
      left: -28px;
      width: 50px;
      height: 50px;
      background-color: white;
      border: solid 5px map-get($colors, c-secondary-1);
      border-radius: 50%;
    }

    @media screen and (min-width: 1920px) {
      position: relative;
      display: inline-block;
      width: 400px;
      // Die Linie in der Mitte
      height: 2.5px;
      background: #5a5755;
      // Die Kreise ausser der letzte
      &::before {
        display: none;
      }
      &:not(:last-child)::after {
        content: "";
        // bezieht sich auf das letzte listen-element "relative"
        position: absolute;
        top: 50%;
        // 100 + 1 px kommt genau ein weiteres px weiter, wo die kreise liegen
        left: -19px;
        width: 50px;
        height: 50px;
        background-color: #fff;
        border: solid 5px map-get($colors, c-secondary-1);
        border-radius: 50%;
        transform: translateY(-50%);
        z-index: 999;
      }
      &:nth-child(odd) div {
        // 16px nach oben positioniert
        top: -30px;
        // 100% der eigenen Höhe nach oben verschoben
        transform: translateY(-100%);
      }
      &:nth-child(even) div {
        // 16px nach oben positioniert
        top: 30px;
        // 100% der eigenen Höhe nach oben verschoben
        // transform: translateY(-100%);
      }
    }
  }

  &__div {
    @extend .fs--p;
    position: relative;
    top: -50px;
    margin: 0 4rem;
    font-family: "Nunito";
    white-space: normal;
    color: map-get($colors, c-secondary);

    @media screen and (min-width: 1920px) {
      position: absolute;
      margin: 0;
      left: -20px;
      width: 100%;
      padding: 25px;
    }
  }

  &__time {
    font-weight: 900;
    @media screen and (min-width: 1920px) {
      display: inline-block;
      color: map-get($colors, c-secondary);
      font-family: "Nunito";
    }
  }

  &__p {
    margin: 0;
  }

  &__last-item {
    @extend .fs--text;
    margin: 2rem 0;
    font-family: "Nunito";
    color: map-get($colors, c-secondary);
    @media screen and (min-width: 1920px) {
      display: none;
    }
  }
}
