.services {
  background-color: whitesmoke;
  text-align: left;
  padding-top: 2rem;

  &__title {
    @extend .fs--title;
    font-family: 'Yellowtail';
    text-align: center;
    @media screen and (min-width: 1920px) {
      text-align: left;
    }
  }

  &__items {
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    @media screen and (min-width: 1920px) {
      flex-direction: row;
      justify-content: space-between;
      gap: 50px;
    }
  }

  &__item {
    background-color: white;
    font-family: 'Nunito';
    margin: 1.3rem 0;
    padding: 1rem;
    border-radius: 15px;
    box-shadow: 0px 8px 16px #00000029;
    @media screen and (min-width: 1920px) {
      padding: 3rem;
    }
  }

  &__item-title {
    font-size: 1.7rem;
    font-weight: 900;
    text-align: center;
    padding: 1.5rem 0;
    margin: 0;
  }

  &__item-info {
    margin: 0;
    font-size: 1.3em;
    padding: 0 1.5rem 1rem 1.5rem;
    @media screen and (min-width: 1280px) {
      font-size: 1.5rem;
      padding: 1rem 2rem;
    }
    @media screen and (min-width: 1920px) {
      padding: 0.3rem;
    }
  }

  &__item-img {
    background-color: #efebe9;
    width: 130px;
    height: 130px;
    margin: 0 auto;
    border-radius: 50%;
    text-align: center;
  }
  &__img-svg {
    margin: 1.5rem -30px;
  }
}
