$fonts: (
  ff-h1: "Yellowtail",
  ff-h2: "Avenir Next",
  ff-primary: "Nunito",
  ff-secondary: "Roboto"
);

$colors: (
  primary-f: #222222,
  secondary-f: #ffffff,
  c-secondary: #5d4037,
  c-secondary-1: #ad5f35
);

$fontSize: (
  fs-primary-h1: 3.5rem,
  fs-secondary-h1: 5rem,
  fs-secondary-h3: 1.6rem
);

$global-p-m: 80px;
$global-p: 8rem;
