$ff-h1: "Yellowtail";
$ff-h2: "Avenir Next";
$ff-primary: "Nunito";
$ff-secondary: "Roboto";

$fs-primary-h1: 3.5rem;
$fs-secondary-h1: 5rem;

$fs-secondary-h3: 1.6rem;

$c-secondary: #5D4037;


$primary-f: #222222;
$secondary-f: #ffffff;

$global-p-m: 80px;
$global-p: 8rem;

