@import "abstracts/variables";
@import "base/base";
@import "base/typography";
@import "layout/grid";
@import "layout/header";
@import "layout/footer";
@import "components/buttons";
@import "components/main-hero";
@import "components/anniversary";
@import "components/chronology";
@import "components/services";
@import "components/shoe";

/* Words-Section */
.words {
  overflow-x: hidden;
  width: 100%;
  &__container {
    margin-bottom: 4rem;
  }
  & ol {
    border-left: none;
    // padding: 20px 6rem;
    list-style-type: none;
  }
  & ol li {
    position: relative;
  }
  & ol li div {
    background-color: rgb(235, 231, 231);
    padding: 1rem 1.5rem;
    margin: 6rem 5rem;
    &::after {
      content: "";
      position: absolute;
      display: block;
      background-color: rgb(235, 231, 231);
      height: 42px;
      width: 100px;
      right: 110px;
      bottom: -39px;
      clip-path: polygon(50% 100%, 0 0, 100% 0);
    }
    &::before {
      font-weight: bold;
      content: "„";
      // content: open-quote;
      display: block;
      position: absolute;
      font-size: 6rem;
      color: map-get($colors, c-secondary-1);
      top: -95px;
      right: 100px;
    }
  }
}

// Big landscape tablets, laptops, and desktops
@media screen and (min-width: 1025px) {
  .words {
    & h3 {
      display: none;
    }
  }
}

// Wide-Screen
@media screen and (min-width: 1920px) {


  /* Words-Section */
  .words {
    & h2 {
      font: normal map-get($fontSize, fs-primary-h1) map-get($fonts, ff-h1);
      text-align: left;
      color: inherit;
    }
    & h3 {
      display: none;
    }
    & h4 {
      text-align: left;
    }

    &__items {
      margin: 0;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, max-content);
      // display: flex;
      // justify-content: space-between;
      // flex-wrap: wrap;
      gap: 3rem;
    }

    &__item {
      width: 100%;
      height: fit-content;

      &--large {
        grid-row: 1 / -1;
      }
    }

    & ol li div {
      margin: 0;
      padding: 0;
      &::after {
        height: 65px;
        width: 200px;
        right: 40px;
      }
      &::before {
        top: -75px;
        right: 50px;
      }
    }
    & ol li div p {
      padding: 2rem 4rem;
    }
  }
}

/* 
@media (min-width:320px) { // smartphones, iPhone, portrait 480x320 phones }
@media (min-width:481px) { // portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. }
@media (min-width:641px) { // portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones }
@media (min-width:961px) { // tablet, landscape iPad, lo-res laptops ands desktops  }
@media (min-width:1025px) { // big landscape tablets, laptops, and desktops }
@media (min-width:1281px) { // hi-res laptops and desktops }

*/
