@import "abstracts/variables";
@import "base/base";
@import "base/typography";
@import "layout/grid";
@import "layout/header";
@import "layout/footer";
@import "components/buttons";

@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Rancho&family=Roboto:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,800;1,200;1,300;1,400;1,600;1,900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}
html {
  // scroll-behavior: smooth;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  text-align: left;
  margin: 0;
}
main {
  max-width: 100%;
  // max-height: auto;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
h2 {
  width: 35%;
  font-family: $ff-h2;
  color: inherit;
}
h3 {
  font: italic normal normal 20px/48px $ff-h2;
  color: inherit;
}

picture,
source {
  display: contents;
}

.section {
  padding: $global-p-m;
}
.hero-infos a {
  display: none;
}
.hero {
  display: grid;
  height: 100vh;
  overflow: hidden;
  &__container {
    position: relative;
    // position: absolute;
    color: $primary-f;
    grid-area: 1 / 1;
    display: flex;
    transform: translate(0em, 6.1em);
    flex-direction: column;
    // position: fixed;
  }
  &__container h1 {
    font: normal normal normal 64px/90px $ff-h1;
    width: 50%;
  }
  & h4 {
    display: none;
  }
  &__bild {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    grid-area: 1 / 1;
  }
}
.container {
  z-index: -999;
}
/*
.scroll-w {
  display: none;
}
*/

.scroll {
  position: absolute;
  top: 800px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  & .line {
    display: inline-block;
    height: 0.1rem;
    width: 2.5rem;
    margin-top: 2rem;
    background-color: $primary-f;
  }
  & .line ~ .line {
    margin-left: 1rem;
  }
  & .fett-line {
    height: 4px;
  }
  & .right {
    transform: rotate(180deg);
  }
}

@media screen and (min-width: 1920px) {
  .section {
    padding: $global-p;
  }
  .hamburger-menu {
    display: none;
  }
  .hero {
    &__background {
      transform: translate(0em, 6em);
    }
  }
  .hero-infos {
    max-width: 620px;
  }
  .hero-infos a {
    display: inline-block;
    font-size: 1.2rem;
    font-family: $ff-primary;
    font-weight: normal;
    color: #f5efef;
    margin-left: 1rem;
  }
  .hero__container {
    // padding-left: 6rem;
    color: $secondary-f;
    & h1 {
      margin: 0;
      font-size: 5rem;
      margin-top: -30px;
      line-height: 130%;
      width: 100%;
    }
    & h2 {
      width: 100%;
      // padding-left: 2rem;
      margin: 0;
      font: normal normal 30px/48px $ff-primary;
    }
    & h3 {
      display: none;
    }
    & h4 {
      font: normal normal 22px $ff-primary;
      width: 90%;
      // padding-left: 2rem;
      display: inline-block;
    }
    & .leistung-btn {
      margin: 0;
      box-shadow: 0px 8px 16px #00000029;
      color: $primary-f;
      font-weight: 900;
      border-radius: 10px;
      background-color: $secondary-f;
      border: solid 25px $secondary-f;
      letter-spacing: 1px;
      // padding: 1rem;
    }
  }
  .scroll {
    top: 840px;
    width: 85%;
    & .left, & .right {
      fill: $secondary-f;
    }
    & .line {
      width: 3.8rem;
      background-color: $secondary-f;
    }
  }
  /*
  .scroll-w {
    // padding: $global-p 0;
    // top: 830px;
    // width: 85%;

    position: absolute;
    top: 830px;
    width: 85%;
    display: flex;
    justify-content: space-between;
    & .line {
      display: inline-block;
      height: 0.1rem;
      width: 3.8rem;
      margin-top: 2rem;
      background-color: $secondary-f;
    }
    & .line ~ .line {
      margin-left: 1.4rem;
    }
    & .fett-line {
      height: 4px;
    }
  }
  */
}
