*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  // width: 100%;
}

body {
  margin: 0;
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.fs {
  &--title {
    font-size: 3.5rem;
    @media (min-width: 1028px) {
      font-size: 5rem;
    }
  }
  &--text {
    font-size: 1rem;
    @media (min-width: 1028px) {
      font-size: 1.3rem;
    }
  }
}

// h2 {
//   font-family: map-get($fonts, ff-h2);
//   width: 35%;

//   @media screen and (min-width: 1920px) {
//     color: map-get($colors, c-secondary-1);
//     font-size: 2rem;
//   }
// }

// h4 {
  // font-family: map-get($fonts, ff-primary);
  // font-size: 1.5rem;
  // text-align: center;
// }

// p {
//   font-family: map-get($fonts, ff-primary);

//   @media screen and (min-width: 1920px) {
//     font-size: 1.2rem;
//   }
// }

picture,
source {
  display: contents;
}

.section {
  padding: 0 $global-p-m;

  @media screen and (min-width: 1920px) {
    padding: 0 $global-p;
  }
}
